*, *::before, *::after {
    margin: 0;
    padding: 0;
}

.box {
    width: 300px;
    padding: 30px;
    border: 10px solid black;
    margin: 20px;
    background-color: fuchsia;
}

.content-box {
    box-sizing: content-box;
}

.border-box {
    box-sizing: border-box;
}
